# Mac meta
.DS_Store

# dotfiles config/overrides
config.yml

# Configs to ignore
files/dotfiles/config/Autodesk
files/dotfiles/config/fontforge
files/dotfiles/config/github-copilot
files/dotfiles/config/raycast

# lock files
files/dotfiles/config/nvim/lazy-lock.json

